@model FormSubmission.Models.User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enter your information</h1>
    <form asp-action="" asp-controller="Home" method="post">
        <div>
            <span asp-validation-for="FirstName"></span>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName">
        </div>
        <div>
            <span asp-validation-for="LastName"></span>
            <label asp-for="LastName"></label>
            <input asp-for="LastName">
        </div>
        <div>
            <span asp-validation-for="Age"></span>
            <label asp-for="Age"></label>
            <input asp-for="Age">
        </div>
        <div>
            <span asp-validation-for="Email"></span>
            <label asp-for="Email"></label>
            <input asp-for="Email">
        </div>
        <div>
            <span asp-validation-for="Password"></span>
            <label asp-for="Password"></label>
            <input asp-for="Password">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
</html>
